<!DOCTYPE html>
<html>
<head>
    <title>Revistas</title>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenidos al sitio para su lectura de revistas</h1>
        <img src="~/img/Revista.png" alt="" width="300" height="150" />
        <h2>Revistas</h2>
        <img src="~/img/Vogue.jpg" alt="" width="300" height="150" />
        <p>
            Ofrece reportajes de las marcas de moda más importantes, como Christian Dior, Prada, Chanel, Gucci, D&G, Valentino, Fendi y Givenchy, además de las últimas tendencias de jóvenes diseñadores de moda como Julien Fournié, Ricardo Tisci o Olivier Theyskens. Utilizan modelos famosas como Gisele Bündchen y Kate Moss.
        </p>
    </div>
</body>

</html>