
<!DOCTYPE html>
<html>
<head>
    <title>Libros</title>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenidos al sitio para su lectura de libros</h1>
        <img src="~/img/Libro.png" alt="" width="300" height="150" />
        <h2>Libros</h2>
        <img src="~/img/Principito.png" alt="" width="300" height="150" />
        <p>El principito es una narración corta del escritor francés Antoine de Saint-Exupéry. 
            La historia se centra en un pequeño príncipe que realiza una travesía por el universo. 
            En este viaje descubre la extraña forma en que los adultos ven la vida y comprende el valor del amor y la amistad.</p>
    </div>
</body>

</html>