<!DOCTYPE html>
<html>
<head>
    <title>AcercaDelSitio</title>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenidos al sitio para su lectura del sitio</h1>
        <img src="~/img/AcercaDelSitio.png" alt="" width="300" height="150" />
        <h2>Sitio web Lectura</h2>

        <p>
            Este sitio web fue desarrollado como parte del Parcial N°2 del parcial Programación 4
        </p>
    </div>
</body>

</html>