<!DOCTYPE html>
<html>
    <head>
        <title>Lectura</title>
    </head>

    <body>
    <div class="text-center">
        <h1 class="display-4">Bienvenidos al sitio para su lectura..</h1>
        <img src="~/img/Guada.jpeg" alt="" width="125" height="125" />
        <p>Desarrollado por Galarza Guadalupe</p>
    </div>
    </body>

</html>

